# Flutter related files
build/
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache
.pub/
/*.iml
.idea/
.vscode/
android/.gradle
android/app/build
ios/Pods
ios/Flutter/Flutter.framework
ios/Flutter/Flutter.podspec
ios/ServiceDefinitions.json
ios/Runner.xcworkspace
